# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Coverage
coverage/

# Production Builds & Artifacts
build/
dist/
.output/
.dex/
.cache/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Elixir / Phoenix
_build/
deps/
*.beam
.fetch
.elixir_ls/

# System / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
